.project
.settings/
.classpath
.metadata/

# Gradle stuff
build
.gradle

untracked/

# Unit test stuffs.
src/test/resources/file-persister-test/default-context
src/test/resources/file-persister-test/context-a
src/test/resources/file-persister-test/context-b
src/test/resources/app-test/

# Generated Protocol Buffer files
**/protobuf/*.java