.project
.settings/
.classpath
.metadata/

# Gradle stuff
build
.gradle

untracked/

# Unit test stuffs.
src/test/resource/file-persister-test/default-context
src/test/resource/file-persister-test/context-a
src/test/resource/file-persister-test/context-b
src/test/resource/app-test/